// color
$color-pink: #f91858;
$color-blue: #171c8f;
$color-orange: #E0462E;
$color-white: #ffffff;
$color-black: #333;
$color-gray: #999;
$color-bg: rgba(0, 0, 0, 0.5);
$bg-gray: #f6f6f6;
$color-key: $color-pink;

// font
$font-playfair: 'Playfair Display', serif;